.carrito {
    height: 50px;
}



.notificacion {
    margin-right: 20px;
    padding: 3px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(177, 5, 5), rgb(112, 0, 0));  
    color: white;
}