.barra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra li {
    list-style: none;
    margin-left: 10px;
}
.divUno {
  display: flex;
  justify-content: space-around;
}

